@import 'tailwindcss';

@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: light;
  --root-bg: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f4f4f5;
  --color-base-300: #e4e4e7;
  --color-base-content: oklch(25% 0 0);
  --color-primary: #e2588d;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(35% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(59.042% 0.21374 266.065);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(0.696 0.177 162.5);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(0.769 0.141 70.1);
  --color-warning-content: oklch(90.395% 0.035 142.495);
  --color-error: oklch(65.446% 0.16845 22.062);
  --color-error-content: oklch(90.395% 0.035 142.495);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --selection-background: rgba(226, 88, 141, 0.8);
  --selection-color: oklch(100% 0 0);
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --root-bg: #09090b;
  --color-base-100: #09090b;
  --color-base-200: #141415;
  --color-base-300: #202022;
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: #e2588d;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(35% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(35% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(59.042% 0.21374 266.065);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(0.696 0.177 162.5);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(0.769 0.141 70.1);
  --color-warning-content: oklch(90.395% 0.035 142.495);
  --color-error: oklch(65.446% 0.16845 22.062);
  --color-error-content: oklch(90.395% 0.035 142.495);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --selection-background: rgba(226, 88, 141, 0.6);
  --selection-color: oklch(90% 0 0);
}

html {
  background: var(--root-bg);
}

:root {
  color-scheme: light;
  /* 默认 */
}

[data-theme='dark'] {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    color-scheme: dark;
  }
}

@layer base {
  ::selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
  }

  /* 兼容火狐浏览器 */
  ::-moz-selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
  }
}
